openapi: 3.0.3
info:
  title: Permission Slip API
  version: 1.0.0
  description: |
    Permission Slip is a centralized middle-man service that sits between AI agents and external 
    APIs. Agents submit pre-defined **actions** for human approval, and Permission Slip executes 
    them using the user's stored credentials. Agents never see user credentials and can never 
    make arbitrary API calls.

    **Base URL**: `https://app.permissionslip.dev`

    ## Key Concepts

    - **Action**: Pre-defined, structured request with a type, validated parameters, and execution logic — the core primitive
    - **Agent**: Automated system with a cryptographic key pair that submits actions for approval
    - **Approver**: Human authorized to approve or deny agent actions
    - **Connector**: Integration with an external service (e.g., Gmail, Stripe) that defines available actions
    - **Credential**: Encrypted API key or OAuth token for an external service, stored in Permission Slip's vault
    - **Registration**: One-time setup where agent proves identity via public key
    - **Approval Request**: Async request for permission to execute a specific action
    - **Token**: Single-use credential issued after one-off approval, used to execute the approved action
    - **Standing Approval**: Pre-authorized, constraint-scoped grant that lets an agent execute an action repeatedly without per-request approval

    ## Authentication

    Permission Slip uses two authentication schemes, plus some public discovery endpoints:

    - **Agent-facing endpoints** (registration, approvals, actions) require Ed25519 request signatures.
      See the `PermissionSlipSignature` security scheme.
    - **User-facing endpoints** (agents, credentials, standing approvals, profiles) use Supabase
      session JWTs. See the `SupabaseSession` security scheme.
    - **Discovery endpoints** (connectors) are publicly accessible with no authentication required.

    ## Workflow

    ### One-off Approval (default)

    1. **Discover Actions**: Agent queries `GET /v1/connectors` to see available actions
    2. **Registration**: Agent registers by providing public key, user approves
    3. **Store Credentials** *(if needed)*: User connects external accounts and stores credentials in Permission Slip's vault using the credential management endpoints
    4. **Submit Action**: Agent submits a structured action (e.g., `email.send` with parameters)
    5. **User Approval**: Approver reviews the action in a human-readable format and approves/denies
    6. **Verify & Get Token**: Agent submits confirmation code, receives single-use token
    7. **Execute Action**: Agent calls `POST /v1/actions/execute` with the token — Permission Slip calls the external API using stored credentials

    ### Standing Approval (pre-authorized)

    1. **User creates standing approval**: Via web UI — specifies agent, action type, constraints, duration, and optional execution cap
    2. **Agent executes**: Calls `POST /v1/actions/execute` with agent signature (no token) — Permission Slip matches the standing approval and executes immediately
    3. **Fallthrough**: If no standing approval matches, falls through to the one-off flow above

    ## Architecture

    ```
    Agent ──→ Permission Slip ──→ External Service (Gmail, Stripe, etc.)
                   │
                   ▼
              User (approve/deny)
    ```

    Permission Slip is the **single integration point** for agents. Agents talk to 
    `https://app.permissionslip.dev` for everything — they never need to know about individual 
    service URLs or APIs.

    ## Related Documentation

    - Authentication Specification: Details on key generation and signature verification
    - Notifications Specification: How users are notified of pending approvals
    - Terminology: Definitions of core concepts
  contact:
    name: Permission Slip
    url: https://github.com/supersuit-tech/permission-slip-web
servers:
  - url: https://app.permissionslip.dev
    description: Production server
  - url: https://staging.app.permissionslip.dev
    description: Staging server
tags:
  - name: Connectors
    description: Discover available service integrations and actions
  - name: Registration
    description: Agent registration and verification
  - name: Agents
    description: Agent management (session-authenticated)
  - name: Approvals
    description: Approval request lifecycle management
  - name: Actions
    description: Execute approved actions via Permission Slip
  - name: Audit Events
    description: Activity feed and audit trail (session-authenticated)
  - name: Action Configurations
    description: Manage action configurations that define what agents are allowed to do
  - name: Credentials
    description: Manage stored credentials for external services
  - name: Standing Approvals
    description: Manage standing approvals for pre-authorized agent actions
  - name: Profiles
    description: User profile management (session-authenticated)
  - name: Push Subscriptions
    description: Web Push subscription management (session-authenticated)
paths:
  /v1/connectors:
    get:
      operationId: listConnectors
      summary: List Available Connectors
      description: |
        List all available connectors (external service integrations) that Permission Slip
        supports. Each connector represents an external service (e.g., GitHub, Stripe, Slack)
        and defines which actions are available.

        Agents use this endpoint to discover what actions they can submit for approval. 
        This replaces the old service discovery model — agents don't need to know about 
        individual service URLs, they just query Permission Slip for available actions.

        ## Use Cases

        - **Agent discovery**: Agent queries available actions before submitting approval requests
        - **UI rendering**: Display available integrations to the user
        - **Validation**: Check if a desired action type is supported before attempting it

        ## No Authentication Required

        This endpoint is publicly accessible (no signature required) to allow agents to 
        discover available actions before registration.
      tags:
        - Connectors
      security: []
      responses:
        '200':
          description: Connectors listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorListResponse'
              example:
                connectors:
                  - id: github
                    name: GitHub
                    description: GitHub integration for repository management
                    actions:
                      - github.create_issue
                      - github.merge_pr
                    required_credentials:
                      - github
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/connectors/{connector_id}:
    get:
      operationId: getConnector
      summary: Get Connector Details
      description: |
        Get detailed information about a specific connector, including supported actions 
        with full parameter schemas and required credentials.

        Agents use this endpoint to understand:
        - What actions are available for a given service
        - What parameters each action expects (JSON Schema)
        - What credentials the user needs to have stored
        - Default risk levels for each action

        ## Use Cases

        - **Parameter validation**: Agent validates action parameters before submitting
        - **Schema discovery**: Agent constructs valid action requests based on parameter schemas
        - **Credential checking**: Agent checks if the user has the required credentials

        ## No Authentication Required

        This endpoint is publicly accessible (no signature required) to allow agents to 
        discover action schemas before registration.
      tags:
        - Connectors
      security: []
      parameters:
        - $ref: '#/components/parameters/ConnectorId'
      responses:
        '200':
          description: Connector details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDetailResponse'
              example:
                id: github
                name: GitHub
                description: GitHub integration for repository management
                actions:
                  - action_type: github.create_issue
                    name: Create Issue
                    description: Create a new issue in a repository
                    risk_level: low
                    parameters_schema:
                      type: object
                      required:
                        - repo
                        - title
                      properties:
                        repo:
                          type: string
                          description: Repository in owner/repo format
                        title:
                          type: string
                          maxLength: 256
                          description: Issue title
                        body:
                          type: string
                          description: Issue body (markdown)
                  - action_type: github.merge_pr
                    name: Merge Pull Request
                    description: Merge an open pull request
                    risk_level: medium
                    parameters_schema:
                      type: object
                      required:
                        - repo
                        - pr
                      properties:
                        repo:
                          type: string
                          description: Repository in owner/repo format
                        pr:
                          type: integer
                          description: Pull request number
                required_credentials:
                  - service: github
                    auth_type: api_key
        '404':
          description: Connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: connector_not_found
                  message: Connector not found
                  retryable: false
                  details:
                    connector_id: unknown-service
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /invite/{invite_code}:
    post:
      operationId: registerAgent
      summary: Register Agent via Invite URL
      description: |
        Register a new agent with Permission Slip by POSTing to the invite URL.
        The invite code in the URL path identifies which user the agent is
        registering with — the agent does not need to know the user's username.

        The invite URL is generated by the user from the Permission Slip dashboard
        (`POST /v1/registration-invites`) and shared with the agent. The agent
        POSTs its public key to the URL to begin registration.

        ## Registration Flow

        1. **User generates invite**: Clicks "Add Agent" on dashboard, receives
           invite URL (e.g., `https://app.permissionslip.dev/invite/PS-R7K3-X9M4`)
        2. **User shares URL**: Gives the invite URL to the agent (paste in chat,
           config file, environment variable, etc.)
        3. **Agent POSTs to invite URL**: Sends public key and request ID
        4. **Permission Slip validates**: Verifies the invite code is valid,
           not expired, and not consumed — then creates a pending registration
        5. **Dashboard shows confirmation code**: User sees a 6-character
           confirmation code on their dashboard
        6. **User shares confirmation code**: Communicates the code to the agent
           (out-of-band)
        7. **Agent verifies**: Submits the code to
           `POST /v1/agents/{agent_id}/verify`
        8. **Registration complete**: Agent can now make approval requests

        ## Why no username?

        The invite code already maps to exactly one user in the database. When the
        user generates an invite, the backend stores their `user_id` alongside the
        hashed invite code. When the agent POSTs to the invite URL, the backend
        looks up the invite code and finds the user automatically. Requiring the
        agent to also specify the username would be redundant.

        ## Security

        - Request MUST include valid `X-Permission-Slip-Signature` header
        - The server auto-assigns an `agent_id` (bigint) returned in the response
        - Permission Slip enforces 5-minute timestamp window for signatures
        - Duplicate `request_id` values are rejected within timestamp window
        - Invite codes are single-use, time-limited (default 15 min), and locked
          after 5 failed attempts

        ## Idempotency

        If the same `request_id` is used multiple times (within 300 seconds),
        Permission Slip returns the original response if registration succeeded,
        or rejects with `duplicate_request_id` error.
      tags:
        - Registration
      security:
        - PermissionSlipSignature: []
      parameters:
        - $ref: '#/components/parameters/InviteCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
            examples:
              basic:
                summary: Basic registration
                value:
                  request_id: 6f1a7c30-9b2e-4d91-8c3f-2a4b6c7d8e9f
                  public_key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPZj8V7K2mT9Xw4nL5rQ1pY3vN8cM6hU0oB4eW2sR7k
              with_metadata:
                summary: Registration with agent metadata
                value:
                  request_id: 7a2b8d41-0c3e-5e02-9d4f-3b5c7d9e0f1a
                  public_key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFPZj8V7K2mT9Xw4nL5rQ1pY3vN8cM6hU0oB4eW2sR7k
                  metadata:
                    name: My AI Assistant
                    version: 1.0.0
                    capabilities:
                      - email
                      - calendar
                      - payments
      responses:
        '200':
          description: Registration initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'
              example:
                agent_id: 42
                expires_at: '2026-02-11T13:25:00Z'
                verification_required: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid signature or invalid invite code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_signature:
                  summary: Signature verification failed
                  value:
                    error:
                      code: invalid_signature
                      message: Signature verification failed
                      retryable: false
                      trace_id: trace_xyz789
                invalid_invite_code:
                  summary: Invite code does not match
                  value:
                    error:
                      code: invalid_invite_code
                      message: Invite code is not valid
                      retryable: false
                      trace_id: trace_xyz789
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invite_not_found
                  message: No invite found for this code
                  retryable: false
                  trace_id: trace_xyz789
        '409':
          description: Agent already registered or duplicate request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                already_registered:
                  summary: Agent already registered
                  value:
                    error:
                      code: agent_already_registered
                      message: Agent is already registered
                      retryable: false
                      details:
                        agent_id: 42
                      trace_id: trace_xyz789
                duplicate_request:
                  summary: Duplicate request ID
                  value:
                    error:
                      code: duplicate_request_id
                      message: Request ID already used
                      retryable: false
                      details:
                        request_id: 6f1a7c30-9b2e-4d91-8c3f-2a4b6c7d8e9f
                      trace_id: trace_xyz789
        '410':
          description: Invite expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invite_expired
                  message: Invite has expired — ask the user to generate a new one
                  retryable: false
                  trace_id: trace_xyz789
        '423':
          description: Invite locked after too many failed attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invite_locked
                  message: Invite locked after too many failed attempts — ask the user to generate a new one
                  retryable: false
                  details:
                    failed_attempts: 5
                    max_attempts: 5
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/verify:
    post:
      operationId: verifyRegistration
      summary: Verify Agent Registration
      description: |
        Complete agent registration by submitting the confirmation code shown to the
        user on the Permission Slip dashboard.

        ## Verification Flow

        1. **Agent registers**: POSTs to invite URL (`POST /invite/{invite_code}`)
        2. **Code displayed**: Permission Slip shows 6-character confirmation code
           on the user's dashboard (e.g., `XK7-M9P`)
        3. **User provides code**: User communicates code to agent (out-of-band)
        4. **Agent submits code**: Calls this endpoint with code
        5. **Service verifies**: Checks code matches, hasn't expired, attempts < 5
        6. **Registration complete**: Agent is now registered and can make approval requests

        ## Confirmation Code Format

        - **Length**: 6 characters (may include hyphen for readability: `XXX-XXX`)
        - **Character set**: Uppercase alphanumeric excluding confusing chars (`0`, `O`, `1`, `I`)
        - **Allowed**: `ABCDEFGHJKLMNPQRSTUVWXYZ23456789` (32 characters)
        - **Case-insensitive**: Permission Slip normalizes to uppercase before validation
        - **Examples**: `XK7-M9P`, `XK7M9P`, `xk7-m9p` (all equivalent)

        ## Security

        - **Attempt limit**: 5 incorrect attempts allowed
        - **Lockout**: After 5 failures, registration expires (must re-register)
        - **Timing**: Constant-time comparison to prevent timing attacks
        - **Single-use**: Code invalidated after successful verification
        - **Expiration**: Code expires with registration (typically 5 minutes)

        ## Path Parameter Validation

        The `agent_id` in the URL path MUST match the `agent_id` in the 
        `X-Permission-Slip-Signature` header. If mismatch, Permission Slip returns `400 Bad Request` 
        with error code `agent_id_mismatch`.
      tags:
        - Registration
      security:
        - PermissionSlipSignature: []
      parameters:
        - $ref: '#/components/parameters/AgentIdSigned'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRegistrationRequest'
            examples:
              with_hyphen:
                summary: Code with hyphen
                value:
                  request_id: 040dacd3-fbf9-42b3-b58f-0d838502b16e
                  confirmation_code: XK7-M9P
              without_hyphen:
                summary: Code without hyphen
                value:
                  request_id: 37c7045e-aef3-4ad3-8ce9-1f78a6d59486
                  confirmation_code: XK7M9P
              lowercase:
                summary: Lowercase code (normalized by service)
                value:
                  request_id: 64d245ef-84df-4582-9709-1fe05d5e3b2c
                  confirmation_code: xk7-m9p
      responses:
        '200':
          description: Registration verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyRegistrationResponse'
              example:
                status: registered
                registered_at: '2026-02-11T13:20:15Z'
        '400':
          description: Invalid request or agent ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_code_format:
                  summary: Invalid confirmation code format
                  value:
                    error:
                      code: invalid_request
                      message: Invalid confirmation code format
                      retryable: false
                      details:
                        field: confirmation_code
                        expected_format: 6 characters from set A-Z2-9
                      trace_id: trace_xyz789
                agent_id_mismatch:
                  summary: Agent ID in path doesn't match signature header
                  value:
                    error:
                      code: agent_id_mismatch
                      message: Agent ID in path must match signature header
                      retryable: false
                      details:
                        path_agent_id: 42
                        header_agent_id: 43
                      trace_id: trace_xyz789
        '401':
          description: Invalid signature or incorrect code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_signature:
                  summary: Signature verification failed
                  value:
                    error:
                      code: invalid_signature
                      message: Signature verification failed
                      retryable: false
                      trace_id: trace_xyz789
                invalid_code:
                  summary: Incorrect confirmation code
                  value:
                    error:
                      code: invalid_code
                      message: Incorrect confirmation code
                      retryable: false
                      details:
                        attempts_remaining: 4
                      trace_id: trace_xyz789
        '404':
          description: Agent registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent registration not found or expired
                  retryable: false
                  trace_id: trace_xyz789
        '410':
          description: Registration expired or locked out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                expired:
                  summary: Registration TTL elapsed
                  value:
                    error:
                      code: registration_expired
                      message: Registration has expired
                      retryable: false
                      details:
                        expired_at: '2026-02-11T13:25:00Z'
                      trace_id: trace_xyz789
                too_many_attempts:
                  summary: Too many failed code attempts (locked out)
                  value:
                    error:
                      code: verification_locked
                      message: Too many failed verification attempts
                      retryable: false
                      details:
                        failed_attempts: 5
                        max_attempts: 5
                      trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents:
    get:
      operationId: listAgents
      summary: List Agents
      description: |
        Returns agents owned by the authenticated user in any status
        (pending, registered, deactivated), ordered by creation time
        (newest first). Supports cursor-based pagination via the `limit`
        and `after` query parameters. Uses session authentication (Supabase JWT).
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of agents to return (1–100, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 20
        - name: after
          in: query
          required: false
          description: |
            Opaque pagination cursor. Pass the `next_cursor` value from a
            previous response to fetch the next page. Do not construct
            cursor values manually.
          schema:
            type: string
          example: 2026-02-11T13:15:00.123456Z,42
      responses:
        '200':
          description: Agents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
              example:
                data:
                  - agent_id: 42
                    status: registered
                    metadata:
                      name: My AI Assistant
                      version: 1.0.0
                    registered_at: '2026-02-11T13:20:15Z'
                    last_active_at: '2026-02-19T08:45:00Z'
                    request_count_30d: 42
                    created_at: '2026-02-11T13:15:00Z'
                  - agent_id: 43
                    status: pending
                    request_count_30d: 0
                    created_at: '2026-02-18T10:00:00Z'
                has_more: false
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: limit must be a positive integer
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: profile_not_found
                  message: Profile not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}:
    get:
      operationId: getAgent
      summary: Get Agent
      description: |
        Returns a single agent by ID. The agent must belong to the authenticated user.
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSummary'
              example:
                agent_id: 42
                status: registered
                metadata:
                  name: My AI Assistant
                  version: 1.0.0
                registered_at: '2026-02-11T13:20:15Z'
                last_active_at: '2026-02-19T08:45:00Z'
                created_at: '2026-02-11T13:15:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      operationId: updateAgent
      summary: Update Agent
      description: |
        Update an agent's metadata (e.g. name, description). The agent must belong
        to the authenticated user.
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
            example:
              metadata:
                name: My Renamed Agent
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSummary'
              example:
                agent_id: 42
                status: registered
                metadata:
                  name: My Renamed Agent
                registered_at: '2026-02-11T13:20:15Z'
                last_active_at: '2026-02-19T08:45:00Z'
                created_at: '2026-02-11T13:15:00Z'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: metadata is required
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/deactivate:
    post:
      operationId: deactivateAgent
      summary: Deactivate Agent
      description: |
        Deactivates an agent, preventing it from making further approval requests
        or executing actions. Any active standing approvals for the agent are
        automatically revoked. The agent must belong to the authenticated user.

        Returns 404 if the agent does not exist, does not belong to the
        authenticated user, or is already deactivated.
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent deactivated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSummary'
              example:
                agent_id: 42
                status: deactivated
                metadata:
                  name: My AI Assistant
                registered_at: '2026-02-11T13:20:15Z'
                deactivated_at: '2026-02-18T09:30:00Z'
                last_active_at: '2026-02-18T08:15:00Z'
                created_at: '2026-02-11T13:15:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found, not owned by user, or already deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/register:
    post:
      operationId: registerAgentDashboard
      summary: Register Agent (Dashboard)
      description: |
        Complete agent registration from the dashboard. Transitions a pending
        agent to `registered` status and sets `registered_at`. The agent must
        belong to the authenticated user and be in `pending` status.

        This is the dashboard-facing equivalent of the agent-facing
        `POST /v1/agents/{agent_id}/verify` (which uses signature auth and
        confirmation codes). Use this endpoint when the user confirms
        registration directly from the dashboard UI.

        Returns 409 if the agent is already registered or deactivated.

        Emits an `agent.registered` audit event on success.
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSummary'
              example:
                agent_id: 42
                status: registered
                metadata:
                  name: My AI Assistant
                registered_at: '2026-02-22T10:30:00Z'
                created_at: '2026-02-11T13:15:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '409':
          description: Agent is already registered or deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_already_registered
                  message: Agent is already registered
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/me:
    get:
      operationId: getAgentSelf
      summary: Get Current Agent
      description: |
        Returns the authenticated agent's own record. This is the primary
        endpoint for an agent to check its own status after registration.

        Requires agent signature authentication via `X-Permission-Slip-Signature`.
        The agent must be in "registered" status.
      tags:
        - Agents
      security:
        - PermissionSlipSignature: []
      responses:
        '200':
          description: Agent record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSelfResponse'
              example:
                agent_id: 42
                status: registered
                metadata:
                  name: My AI Assistant
                  version: 1.0.0
                registered_at: '2026-02-11T13:20:15Z'
                last_active_at: '2026-02-19T08:45:00Z'
                created_at: '2026-02-11T13:15:00Z'
        '401':
          description: Missing or invalid agent signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_signature
                  message: Signature verification failed
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '403':
          description: Agent is not in registered status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_authorized
                  message: Agent is pending, not registered
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/capabilities:
    get:
      operationId: getAgentCapabilities
      summary: Get Agent Capabilities
      description: |
        Returns everything an agent needs to know about what it can do on behalf of
        a specific user — enabled connectors, available actions with full parameter
        schemas, active standing approvals, action configurations, and credential
        readiness.

        This is the primary **discovery endpoint** for agents. Call it at startup
        (or periodically) to build a complete picture of available capabilities
        before submitting approval requests or executing actions.

        ## What's Included

        For each connector enabled for this agent:

        - **Connector metadata**: ID, name, description
        - **Credential readiness**: Whether the user has stored the required credentials
          (boolean only — no credential values are ever exposed)
        - **Actions**: Full list of available action types with:
          - Human-readable name and description
          - Risk level (`low`, `medium`, `high`)
          - Parameter JSON Schema (for client-side validation)
          - Active standing approvals (constraints, remaining executions, expiration)
          - Active action configurations (pre-approved parameter sets with wildcards)

        ## Action Configurations

        Each action may have one or more **action configurations** — user-created
        parameter presets that define what the agent is allowed to do. Configurations
        are the primary mechanism for granting agents permission to act.

        - **Fixed parameters** are locked in by the user and cannot be changed
        - **Wildcard parameters** (`"*"`) let the agent supply any value
        - The agent references a `configuration_id` in approval requests and executions

        ## What's NOT Included

        - Connectors that are not enabled for this agent (use `GET /v1/connectors` for
          the full global catalog)
        - Deactivated or expired standing approvals
        - Disabled action configurations
        - Credential values, types, or metadata (only presence/absence)

        ## Agent Workflow

        After calling this endpoint, the agent knows:

        1. **Which connectors are available** → `connectors[]`
        2. **Which are ready to use** → `credentials_ready: true`
        3. **Which need user setup** → `credentials_ready: false` + `credentials_setup_url`
        4. **What actions exist** → `connectors[].actions[]`
        5. **What parameters each action expects** → `parameters_schema`
        6. **What configurations are available** → `action_configurations[]` with `configuration_id`
        7. **Which actions can execute immediately** → `standing_approvals` is non-empty
        8. **Which need one-off approval** → `standing_approvals` is empty
        9. **What constraints apply** → `standing_approvals[].constraints`

        ## Authorization Flow Decision

        For a given action the agent wants to perform:

        ```
        Has action configuration?
          ├─ YES → Reference configuration_id in requests
          │        Has standing approval with matching constraints?
          │          ├─ YES → POST /v1/actions/execute (no token, agent signature only)
          │          └─ NO  → POST /v1/approvals/request → user approves → verify → execute
          └─ NO  → Ask user to create an action configuration
        ```

        If `credentials_ready` is `false` for the connector, the agent should prompt
        the user to visit `credentials_setup_url` before attempting any actions.

        ## Security

        - Request MUST include valid `X-Permission-Slip-Signature` header
        - The `agent_id` in the URL path MUST match the `agent_id` in the signature header
        - Only connectors and standing approvals belonging to the authenticated agent's
          user are returned
        - Credential values are never exposed — only a boolean readiness flag
      tags:
        - Agents
      security:
        - PermissionSlipSignature: []
      parameters:
        - $ref: '#/components/parameters/AgentIdSigned'
      responses:
        '200':
          description: Agent capabilities retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCapabilitiesResponse'
              examples:
                full_capabilities:
                  summary: Agent with multiple connectors, mixed readiness
                  value:
                    agent_id: 42
                    connectors:
                      - id: gmail
                        name: Gmail
                        description: Send and manage emails via Gmail API
                        credentials_ready: true
                        actions:
                          - action_type: email.send
                            name: Send Email
                            description: Send an email via Gmail
                            risk_level: low
                            parameters_schema:
                              type: object
                              required:
                                - to
                                - subject
                                - body
                              properties:
                                from:
                                  type: string
                                  format: email
                                  description: Sender address (defaults to account email)
                                to:
                                  type: array
                                  items:
                                    type: string
                                    format: email
                                  description: Recipient email addresses
                                subject:
                                  type: string
                                  maxLength: 998
                                  description: Email subject line
                                body:
                                  type: string
                                  description: Email body (plain text or HTML)
                            standing_approvals:
                              - standing_approval_id: sa_def456
                                constraints:
                                  recipient_pattern: '*@mycompany.com'
                                  max_recipients: 5
                                max_executions: 100
                                executions_remaining: 88
                                expires_at: '2026-05-15T00:00:00Z'
                            action_configurations:
                              - configuration_id: ac_1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d
                                action_type: email.send
                                name: Send to team
                                parameters:
                                  to: team@mycompany.com
                                  subject: '*'
                                  body: '*'
                                credential_ready: true
                          - action_type: email.read
                            name: Read Email
                            description: Read emails from Gmail inbox
                            risk_level: low
                            parameters_schema:
                              type: object
                              properties:
                                sender:
                                  type: string
                                  description: Filter by sender address or pattern
                                max_results:
                                  type: integer
                                  minimum: 1
                                  maximum: 100
                                  description: Maximum number of emails to return
                            standing_approvals:
                              - standing_approval_id: sa_abc123
                                constraints:
                                  sender: '*@github.com'
                                  max_results: 10
                                max_executions: null
                                executions_remaining: null
                                expires_at: '2026-02-28T00:00:00Z'
                            action_configurations: []
                      - id: stripe
                        name: Stripe
                        description: Payment processing via Stripe API
                        credentials_ready: false
                        credentials_setup_url: https://app.permissionslip.dev/connect/stripe
                        actions:
                          - action_type: payment.charge
                            name: Charge Payment
                            description: Charge a customer's payment method
                            risk_level: high
                            parameters_schema:
                              type: object
                              required:
                                - amount
                                - currency
                                - customer_id
                              properties:
                                amount:
                                  type: integer
                                  minimum: 1
                                  description: Amount in smallest currency unit (e.g., cents)
                                currency:
                                  type: string
                                  pattern: ^[A-Z]{3}$
                                  description: ISO 4217 currency code
                                customer_id:
                                  type: string
                                  description: Stripe customer identifier
                                description:
                                  type: string
                                  maxLength: 500
                                  description: Payment description
                            standing_approvals: []
                            action_configurations: []
                no_connectors:
                  summary: Agent with no enabled connectors
                  value:
                    agent_id: 43
                    connectors: []
                standing_approval_only:
                  summary: Single connector, all actions with standing approvals
                  value:
                    agent_id: 44
                    connectors:
                      - id: gmail
                        name: Gmail
                        description: Send and manage emails via Gmail API
                        credentials_ready: true
                        actions:
                          - action_type: email.read
                            name: Read Email
                            description: Read emails from Gmail inbox
                            risk_level: low
                            parameters_schema:
                              type: object
                              properties:
                                sender:
                                  type: string
                                max_results:
                                  type: integer
                            standing_approvals:
                              - standing_approval_id: sa_read01
                                constraints:
                                  sender: '*@github.com'
                                max_executions: null
                                executions_remaining: null
                                expires_at: '2026-03-15T00:00:00Z'
                              - standing_approval_id: sa_read02
                                constraints:
                                  sender: '*@linear.app'
                                max_executions: 50
                                executions_remaining: 50
                                expires_at: '2026-03-01T00:00:00Z'
                            action_configurations: []
        '400':
          description: Invalid request or agent ID mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_id_mismatch
                  message: Agent ID in path must match signature header
                  retryable: false
                  details:
                    path_agent_id: 42
                    header_agent_id: 43
                  trace_id: trace_xyz789
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found or not registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent is not registered
                  retryable: false
                  details:
                    agent_id: 42
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/connectors:
    get:
      operationId: listAgentConnectors
      summary: List Agent Connectors
      description: |
        List all connectors enabled for a specific agent. Returns connector summaries
        for each connector the agent is allowed to use.

        Uses session authentication (Supabase JWT) — this is a user-facing endpoint
        for managing per-agent connector enablement through the dashboard.
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent connectors listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConnectorListResponse'
              example:
                connectors:
                  - id: gmail
                    name: Gmail
                    description: Send and manage emails via Gmail API
                    actions:
                      - email.send
                      - email.read
                    required_credentials:
                      - gmail
                    enabled_at: '2026-02-18T10:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent not found or not owned by user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/agents/{agent_id}/connectors/{connector_id}:
    put:
      operationId: enableAgentConnector
      summary: Enable Connector for Agent
      description: |
        Enable a connector for a specific agent. Once enabled, the agent can submit
        actions defined by this connector for approval.

        This is idempotent — enabling an already-enabled connector returns 200.

        Uses session authentication (Supabase JWT).
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/ConnectorId'
      responses:
        '200':
          description: Connector enabled for agent (or was already enabled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConnectorResponse'
              example:
                agent_id: 42
                connector_id: gmail
                enabled_at: '2026-02-18T10:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent or connector not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_found
                  message: Agent not found
                  retryable: false
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      operationId: disableAgentConnector
      summary: Disable Connector for Agent
      description: |
        Disable a connector for a specific agent. The agent will no longer be able
        to submit actions from this connector.

        Any active standing approvals for this agent whose action type belongs to
        the disabled connector are automatically **revoked**. This prevents
        forgotten standing approvals from silently reactivating if the connector
        is re-enabled later.

        Uses session authentication (Supabase JWT).
      tags:
        - Agents
      security:
        - SupabaseSession: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/ConnectorId'
      responses:
        '200':
          description: Connector disabled for agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisableAgentConnectorResponse'
              example:
                agent_id: 42
                connector_id: gmail
                disabled_at: '2026-02-18T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Agent-connector association not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_connector_not_found
                  message: Connector not enabled for this agent
                  retryable: false
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/registration-invites:
    post:
      operationId: createRegistrationInvite
      summary: Create Registration Invite
      description: |
        Creates a new registration invite that can be shared with an agent to
        initiate the registration flow. The returned invite code is single-use
        and expires after the configured TTL.

        Uses session authentication (Supabase JWT) — the user must be logged
        in via the web UI.
      tags:
        - Registration
      security:
        - SupabaseSession: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistrationInviteRequest'
      responses:
        '201':
          description: Invite created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRegistrationInviteResponse'
              example:
                id: ri_abc123def456
                invite_code: PS-ABCD-1234
                invite_url: https://app.permissionslip.dev/invite/PS-ABCD-1234
                status: active
                expires_at: '2026-02-19T12:15:00Z'
                created_at: '2026-02-19T12:00:00Z'
        '400':
          description: Invalid request (e.g., expires_in out of range)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: expires_in must be between 60 and 86400 seconds
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: profile_not_found
                  message: Profile not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/audit-logs:
    get:
      operationId: exportAuditLogs
      summary: Export Audit Logs
      description: |
        Returns audit log events in chronological order (oldest first) for the
        authenticated user, starting from the required `since` timestamp. Designed
        for compliance export and SIEM integration use cases.

        Supports cursor-based pagination via `limit` and `after` query parameters
        to iterate over large result sets.
      tags:
        - Audit Events
      security:
        - SupabaseSession: []
      parameters:
        - name: since
          in: query
          required: true
          description: |
            Only return events created at or after this timestamp. Must be a valid
            RFC3339 timestamp (e.g. `2026-01-01T00:00:00Z`).
          schema:
            type: string
            format: date-time
          example: '2026-01-01T00:00:00Z'
        - name: until
          in: query
          required: false
          description: |
            Only return events created before this timestamp (exclusive upper bound).
            Must be a valid RFC3339 timestamp and must be after `since`. Useful for
            bounded time-window exports (e.g. monthly compliance reports).
          schema:
            type: string
            format: date-time
          example: '2026-02-01T00:00:00Z'
        - name: event_type
          in: query
          required: false
          description: |
            Filter events by type. Accepts a single type or a comma-separated
            list of types.
          schema:
            type: string
          example: approval.approved,approval.denied
        - name: limit
          in: query
          required: false
          description: Maximum number of events to return per page (1–1000, default 100).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          example: 100
        - name: after
          in: query
          required: false
          description: |
            Opaque pagination cursor. Pass the `next_cursor` value from a
            previous response to fetch the next page. Do not construct
            cursor values manually.
          schema:
            type: string
          example: 2026-02-20T14:30:00.123456789Z,12345
      responses:
        '200':
          description: Audit log events exported successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogExportResponse'
              example:
                data:
                  - id: 12345
                    event_type: approval.approved
                    timestamp: '2026-02-20T14:30:00Z'
                    agent_id: 42
                    agent_metadata:
                      name: My AI Assistant
                    action:
                      type: email.send
                      version: '1'
                      parameters:
                        to: alice@example.com
                        subject: Hello
                    outcome: approved
                    source_id: appr_abc123
                  - id: 12346
                    event_type: standing_approval.executed
                    timestamp: '2026-02-20T14:35:00Z'
                    agent_id: 42
                    agent_metadata:
                      name: My AI Assistant
                    action:
                      type: email.read
                      version: '1'
                    outcome: auto_executed
                    source_id: sae_def456
                has_more: true
                next_cursor: 2026-02-20T14:35:00.123456789Z,12346
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: since query parameter is required (RFC3339 timestamp)
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: profile_not_found
                  message: Profile not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/audit-events:
    get:
      operationId: listAuditEvents
      summary: List Audit Events
      description: |
        Returns a chronological activity feed (newest first) of recent events
        for the authenticated user. Events are sourced from multiple tables:

        - **One-off approvals**: approved, denied, or cancelled approval requests
        - **Standing approval executions**: auto-executed actions via standing approvals
        - **Agent lifecycle**: agent registration and deactivation events

        Supports cursor-based pagination via `limit` and `after` query parameters,
        and filtering by agent, event type, and outcome.
      tags:
        - Audit Events
      security:
        - SupabaseSession: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of events to return (1–100, default 20).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: after
          in: query
          required: false
          description: |
            Opaque pagination cursor. Pass the `next_cursor` value from a
            previous response to fetch the next page. Do not construct
            cursor values manually.
          schema:
            type: string
          example: 2026-02-20T14:30:00.123456789Z,appr_abc123
        - name: agent_id
          in: query
          required: false
          description: Filter events to a specific agent by ID.
          schema:
            type: integer
            format: int64
          example: 42
        - name: event_type
          in: query
          required: false
          description: |
            Filter events by type. Accepts a single type or a comma-separated
            list of types.
          schema:
            type: string
          example: approval.approved,approval.denied
        - name: outcome
          in: query
          required: false
          description: |
            Filter events by outcome. Accepts a single value (not comma-separated).
          schema:
            type: string
            enum:
              - approved
              - denied
              - cancelled
              - auto_executed
              - registered
              - deactivated
              - pending
              - expired
          example: approved
      responses:
        '200':
          description: Audit events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEventListResponse'
              example:
                data:
                  - event_type: approval.approved
                    timestamp: '2026-02-20T14:30:00Z'
                    agent_id: 42
                    agent_metadata:
                      name: My AI Assistant
                    action:
                      type: email.send
                      version: '1'
                      parameters:
                        to: alice@example.com
                        subject: Hello
                    outcome: approved
                  - event_type: standing_approval.executed
                    timestamp: '2026-02-20T14:25:00Z'
                    agent_id: 42
                    agent_metadata:
                      name: My AI Assistant
                    action:
                      type: email.read
                      version: '1'
                      constraints:
                        sender: '*@mycompany.com'
                    outcome: auto_executed
                  - event_type: agent.registered
                    timestamp: '2026-02-19T10:00:00Z'
                    agent_id: 43
                    agent_metadata:
                      name: New Agent
                    outcome: registered
                has_more: true
                next_cursor: 2026-02-19T10:00:00Z,ar:43
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: limit must be a positive integer
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: profile_not_found
                  message: Profile not found
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/approvals/request:
    post:
      operationId: requestApproval
      summary: Request Approval for Action
      description: |
        Request approval for a specific one-off action. The designated approver must review 
        and approve the action before the agent can execute it.

        ## Approval Request Flow

        1. **Agent requests**: Sends action details, parameters, and context
        2. **Permission Slip validates**: Verifies agent is registered, signature is valid
        3. **Permission Slip responds**: Returns approval URL with unique approval_id
        4. **Notification sent**: Permission Slip notifies approver (push notification)
        5. **Approver reviews**: Visits URL, sees full action details, approves/denies
        6. **Confirmation shown**: If approved, Permission Slip shows 6-character confirmation code
        7. **Agent verifies**: Collects code from user, submits to verify endpoint
        8. **Token issued**: Permission Slip returns single-use JWT token
        9. **Agent executes**: Uses token to call `POST /v1/actions/execute`

        ## Action Types

        Action types follow naming conventions:

        **Standard Types** (2 segments, reserved for future standardization):
        - Format: `<category>.<operation>` (e.g., `email.send`, `payment.charge`)
        - Pattern: `^[a-z][a-z0-9_]*\.[a-z][a-z0-9_]*$`
        - Max length: 64 characters

        **Custom Types** (4+ segments, service-specific):
        - Format: `<reverse-domain>.<category>.<operation>` (e.g., `com.example.deploy.production`)
        - Pattern: Reverse-DNS domain (2+ segments) + category + operation
        - Max length: 128 characters

        Permission Slip validates action types and returns `400 Bad Request` for invalid formats or 
        unsupported types.

        ## Security

        - Agent MUST be registered with this approver
        - Request MUST include valid `X-Permission-Slip-Signature` header
        - The `agent_id` in request body MUST match signature header
        - Duplicate `request_id` rejected within timestamp window
        - Approval expires after TTL (typically 5 minutes)

        ## Parameters Hash

        The `action.parameters` object is canonicalized using RFC 8785 (JCS) and hashed with 
        SHA-256. This hash is embedded in the approval token as `params_hash` to prevent 
        parameter tampering. Permission Slip verifies the hash matches request parameters before 
        executing actions.
      tags:
        - Approvals
      security:
        - PermissionSlipSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
            examples:
              email_send:
                summary: Email send approval
                value:
                  agent_id: 42
                  request_id: a925fbe0-db83-4969-9dc5-27f40385f12c
                  approver: alice
                  action:
                    type: email.send
                    version: '1'
                    parameters:
                      from: alice@example.com
                      to:
                        - recipient@example.com
                      subject: Hello World
                      body: This is a test email.
                  context:
                    description: Send welcome email to new user
                    risk_level: low
                    details:
                      recipient_count: 1
              payment_charge:
                summary: Payment charge approval (high risk)
                value:
                  agent_id: 42
                  request_id: d5a6fd23-27d8-491a-8fe1-97cda19300d8
                  approver: alice
                  action:
                    type: payment.charge
                    version: '1'
                    parameters:
                      amount: 9900
                      currency: USD
                      customer_id: cus_abc123
                      description: Subscription renewal
                  context:
                    description: Charge customer for monthly subscription
                    risk_level: high
                    details:
                      estimated_cost: $99.00 USD
                      customer_name: John Doe
              custom_action:
                summary: Service-specific custom action
                value:
                  agent_id: 42
                  request_id: 5e982a34-5ecd-4417-b449-b4ff53343141
                  approver: alice
                  action:
                    type: com.example.deploy.production
                    version: '1'
                    parameters:
                      repository: myapp
                      branch: main
                      environment: production
                      commit_sha: a1b2c3d4
                  context:
                    description: Deploy myapp to production environment
                    risk_level: high
                    details:
                      affected_services:
                        - api
                        - worker
                      estimated_downtime: 2 minutes
      responses:
        '200':
          description: Approval request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalRequestResponse'
              examples:
                basic:
                  summary: Basic approval response
                  value:
                    approval_id: appr_xyz789
                    approval_url: https://app.permissionslip.dev/permission-slip/approve/appr_xyz789
                    status: pending
                    expires_at: '2026-02-11T13:25:00Z'
                    verification_required: true
                with_alternative_urls:
                  summary: Response with cross-platform URLs
                  value:
                    approval_id: appr_xyz789
                    approval_url: https://app.permissionslip.dev/permission-slip/approve/appr_xyz789
                    alternative_urls:
                      deeplink: permissionslip://permission-slip/approve/appr_xyz789
                      web: https://accounts.permissionslip.dev/permission-slip/approve/appr_xyz789
                    status: pending
                    expires_at: '2026-02-11T13:25:00Z'
                    verification_required: true
        '400':
          description: Invalid request or unsupported action type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_action_type:
                  summary: Invalid action type format
                  value:
                    error:
                      code: invalid_action_type
                      message: Action type format is invalid
                      retryable: false
                      details:
                        action_type: invalid_type
                        expected_format: 'Standard: category.operation or Custom: com.example.category.operation'
                      trace_id: trace_xyz789
                unsupported_action_type:
                  summary: Action type not supported by this service
                  value:
                    error:
                      code: unsupported_action_type
                      message: Action type is not supported
                      retryable: false
                      details:
                        action_type: unsupported.action
                        supported_types:
                          - email.send
                          - calendar.create
                      trace_id: trace_xyz789
                agent_id_mismatch:
                  summary: Agent ID mismatch between body and signature
                  value:
                    error:
                      code: agent_id_mismatch
                      message: Agent ID in request body must match signature header
                      retryable: false
                      details:
                        body_agent_id: 42
                        header_agent_id: 43
                      trace_id: trace_xyz789
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Agent not authorized for this approver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_authorized
                  message: Agent is not registered with this approver
                  retryable: false
                  details:
                    agent_id: 42
                    approver: alice
                  trace_id: trace_xyz789
        '404':
          description: Agent or approver not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                agent_not_found:
                  summary: Agent not registered
                  value:
                    error:
                      code: agent_not_found
                      message: Agent is not registered
                      retryable: false
                      details:
                        agent_id: 42
                      trace_id: trace_xyz789
                approver_not_found:
                  summary: Approver username not found
                  value:
                    error:
                      code: approver_not_found
                      message: Approver username not found
                      retryable: false
                      details:
                        approver: alice
                      trace_id: trace_xyz789
        '409':
          description: Duplicate request ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: duplicate_request_id
                  message: Request ID already used
                  retryable: false
                  details:
                    request_id: a925fbe0-db83-4969-9dc5-27f40385f12c
                  trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/approvals/{approval_id}/verify:
    post:
      operationId: verifyApproval
      summary: Verify Approval and Retrieve Token
      description: |
        Verify approval and retrieve the single-use token by submitting the confirmation code 
        shown to the approver after they approved the action.

        ## Verification Flow

        1. **Approver approves**: Visits approval URL, reviews action details, approves
        2. **Code displayed**: Permission Slip shows 6-character confirmation code (e.g., `RK3-P7M`)
        3. **User provides code**: Approver communicates code to agent owner/operator
        4. **Agent submits code**: Calls this endpoint with code
        5. **Permission Slip verifies**: Checks code matches, hasn't expired, attempts < 5
        6. **Token issued**: Permission Slip returns single-use JWT token with action scope
        7. **Agent uses token**: Passes token to `POST /v1/actions/execute` to trigger execution

        ## Denial Handling

        If the approver explicitly denied the approval request, this endpoint returns 
        `403 Forbidden` with error code `approval_denied`. The agent should NOT retry 
        or re-request approval for the same action without user intervention.

        ## Token Structure

        The returned JWT token contains:
        - `sub`: Agent ID
        - `aud`: `permissionslip.dev`
        - `approver`: Username who approved
        - `approval_id`: Approval request ID
        - `scope`: Action type (e.g., `email.send`)
        - `scope_version`: Action version (e.g., `"1"`)
        - `params_hash`: SHA-256 hash of JCS-canonicalized action parameters
        - `iat`, `exp`: Issued/expires timestamps
        - `jti`: Unique token ID (for single-use enforcement)

        ## Token Usage

        The token is passed to `POST /v1/actions/execute` along with the action ID and 
        parameters. Permission Slip verifies the token and executes the action using the 
        user's stored credentials:

        ```http
        POST https://app.permissionslip.dev/v1/actions/execute
        X-Permission-Slip-Signature: agent_id="...", algorithm="Ed25519", ...
        Content-Type: application/json

        {
          "token": "<approval_token>",
          "action_id": "email.send",
          "parameters": { ... }
        }
        ```

        Permission Slip verifies:
        1. JWT signature (token was issued by Permission Slip)
        2. Expiration (`exp` claim)
        3. Scope matches `action_id`
        4. Parameters hash matches request parameters
        5. Token not already used (`jti` tracking)

        ## Security

        - **Attempt limit**: 5 incorrect code attempts allowed
        - **Lockout**: After 5 failures, approval expires
        - **Single-use code**: Code invalidated after successful verification
        - **Single-use token**: Token invalidated after first successful action
        - **Expiration**: Both code and token expire with approval TTL
      tags:
        - Approvals
      security:
        - PermissionSlipSignature: []
      parameters:
        - $ref: '#/components/parameters/ApprovalId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyApprovalRequest'
            examples:
              with_hyphen:
                summary: Code with hyphen
                value:
                  request_id: a9b2e069-6374-4a65-be1d-b26cc376d7fe
                  confirmation_code: RK3-P7M
              without_hyphen:
                summary: Code without hyphen
                value:
                  request_id: dcd35b63-5b5c-473c-a713-154ed643a9b4
                  confirmation_code: RK3P7M
      responses:
        '200':
          description: Approval verified successfully, token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyApprovalResponse'
              example:
                status: approved
                approved_at: '2026-02-11T13:20:45Z'
                token:
                  access_token: eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhZ2VudF94N0s5bVA0biIsImF1ZCI6InBlcm1pc3Npb25zbGlwLmRldiIsImFwcHJvdmVyIjoiYWxpY2UiLCJhcHByb3ZhbF9pZCI6ImFwcHJfeHl6Nzg5Iiwic2NvcGUiOiJlbWFpbC5zZW5kIiwic2NvcGVfdmVyc2lvbiI6IjEiLCJwYXJhbXNfaGFzaCI6ImJhMDYxN2IyMzM0MTcwY2I5MzY5MTZkYjIwMjQwMDMwMGExZmRjMWZlNzFlMzZiOTExZDA4YjI1MTlmM2Q2OGMiLCJpYXQiOjE3NzA4MTYwNDUsImV4cCI6MTc3MDgxNjM0NSwianRpIjoidG9rX3VuaXF1ZTEyMyJ9.signature
                  expires_at: '2026-02-11T13:25:45Z'
                  scope: email.send
                  scope_version: '1'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: Invalid confirmation code format
                  retryable: false
                  details:
                    field: confirmation_code
                  trace_id: trace_xyz789
        '401':
          description: Invalid signature or incorrect code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_code:
                  summary: Incorrect confirmation code
                  value:
                    error:
                      code: invalid_code
                      message: Incorrect confirmation code
                      retryable: false
                      details:
                        attempts_remaining: 3
                      trace_id: trace_xyz789
                invalid_signature:
                  summary: Signature verification failed
                  value:
                    error:
                      code: invalid_signature
                      message: Signature verification failed
                      retryable: false
                      trace_id: trace_xyz789
        '403':
          description: Agent not authorized or approval denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                approval_denied:
                  summary: User explicitly denied the approval
                  value:
                    error:
                      code: approval_denied
                      message: User denied the approval request
                      retryable: false
                      details:
                        denied_at: '2026-02-11T13:20:30Z'
                      trace_id: trace_xyz789
                agent_not_authorized:
                  summary: Agent not authorized for this approval
                  value:
                    error:
                      code: agent_not_authorized
                      message: Agent is not authorized for this approval
                      retryable: false
                      details:
                        agent_id: 42
                        approval_id: appr_xyz789
                      trace_id: trace_xyz789
        '404':
          description: Approval not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: approval_not_found
                  message: Approval ID not found
                  retryable: false
                  details:
                    approval_id: appr_xyz789
                  trace_id: trace_xyz789
        '410':
          description: Approval expired or locked out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                expired:
                  summary: Approval TTL elapsed
                  value:
                    error:
                      code: approval_expired
                      message: Approval has expired
                      retryable: false
                      details:
                        expired_at: '2026-02-11T13:25:00Z'
                      trace_id: trace_xyz789
                too_many_attempts:
                  summary: Too many failed code attempts (locked out)
                  value:
                    error:
                      code: approval_expired
                      message: Too many failed verification attempts
                      retryable: false
                      details:
                        failed_attempts: 5
                        max_attempts: 5
                      trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/approvals/{approval_id}/cancel:
    post:
      operationId: cancelApproval
      summary: Cancel Approval Request
      description: |
        Cancel a pending approval request. This is useful when the agent no longer needs the 
        approval (e.g., user changed their mind, action no longer relevant, or timeout occurred).

        ## Cancellation Flow

        1. **Agent decides to cancel**: User requests cancellation or timeout occurs
        2. **Agent sends cancel request**: Calls this endpoint with approval_id
        3. **Permission Slip validates**: Verifies agent owns the approval, signature is valid
        4. **Permission Slip cancels**: Marks approval as cancelled, invalidates any URLs/codes
        5. **Response returned**: Confirms cancellation with timestamp

        ## Use Cases

        - User explicitly cancels the action request
        - Agent times out waiting for approval
        - Action becomes irrelevant before approval completes
        - Agent needs to modify parameters (cancel and re-request)

        ## Restrictions

        - Only the agent that created the approval can cancel it
        - Cannot cancel approvals that are already approved, denied, or cancelled
        - Cannot cancel expired approvals (returns `409 Conflict` or `410 Gone`)

        ## Security

        - Request MUST include valid `X-Permission-Slip-Signature` header
        - The `agent_id` in signature header MUST match the agent that created the approval
        - If mismatch, Permission Slip returns `403 Forbidden` with error code `agent_not_authorized`
      tags:
        - Approvals
      security:
        - PermissionSlipSignature: []
      parameters:
        - $ref: '#/components/parameters/ApprovalId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelApprovalRequest'
            example:
              request_id: 21d9ec79-6b20-45b9-8695-83537318966d
      responses:
        '200':
          description: Approval cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelApprovalResponse'
              example:
                status: cancelled
                cancelled_at: '2026-02-11T13:21:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Agent not authorized to cancel this approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: agent_not_authorized
                  message: Agent is not authorized to cancel this approval
                  retryable: false
                  details:
                    agent_id: 42
                    approval_id: appr_xyz789
                  trace_id: trace_xyz789
        '404':
          description: Approval not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: approval_not_found
                  message: Approval ID not found
                  retryable: false
                  details:
                    approval_id: appr_xyz789
                  trace_id: trace_xyz789
        '409':
          description: Approval already resolved (approved, denied, or cancelled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                already_approved:
                  summary: Approval already approved
                  value:
                    error:
                      code: approval_already_resolved
                      message: Approval already approved
                      retryable: false
                      details:
                        approval_id: appr_xyz789
                        status: approved
                        approved_at: '2026-02-11T13:20:45Z'
                      trace_id: trace_xyz789
                already_denied:
                  summary: Approval already denied
                  value:
                    error:
                      code: approval_already_resolved
                      message: Approval already denied
                      retryable: false
                      details:
                        approval_id: appr_xyz789
                        status: denied
                        denied_at: '2026-02-11T13:20:30Z'
                      trace_id: trace_xyz789
                already_cancelled:
                  summary: Approval already cancelled
                  value:
                    error:
                      code: approval_already_resolved
                      message: Approval already cancelled
                      retryable: false
                      details:
                        approval_id: appr_xyz789
                        status: cancelled
                        cancelled_at: '2026-02-11T13:21:00Z'
                      trace_id: trace_xyz789
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v1/approvals:
    get:
      operationId: listApprovals
      summary: List Approvals
      description: |
        Returns approval requests for the authenticated user (as approver),
        ordered by creation time (newest first). By default only returns
        pending, non-expired approvals. Use the `status` query parameter to
        filter by other statuses. Supports cursor-based pagination via the
        `limit` and `after` query parameters. Uses session authentication
        (Supabase JWT).
      tags:
        - Approvals
      security:
        - SupabaseSession: []
      parameters:
        - name: status
          in: query
          required: false
          description: |
            Filter approvals by status. Defaults to `pending` (only pending,
            non-expired approvals). Pass `all` to include all statuses.
          schema:
            type: string
            enum:
              - pending
              - approved
              - denied
              - cancelled
              - all
            default: pending
          example: pending
        - name: limit
          in: query
          required: false
          description: Maximum number of approvals to return (1–100, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 20
        - name: after
          in: query
          required: false
          description: |
            Opaque pagination cursor. Pass the `next_cursor` value from a
            previous response to fetch the next page. Do not construct
            cursor values manually.
          schema:
            type: string
          example: 2026-02-11T13:20:00.123456Z,appr_xyz789
      responses:
        '200':
          description: Approvals retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalListResponse'
              example:
                data:
                  - approval_id: appr_xyz789
                    agent_id: 42
                    action:
                      type: email.send
                      version: '1'
                      parameters:
                        from: alice@example.com
                        to:
                          - recipient@example.com
                        subject: Hello World
                        body: This is a test email.
                    context:
                      description: Send welcome email to new user
                      risk_level: low
                    status: pending
                    expires_at: '2026-02-11T13:25:00Z'
                    created_at: '2026-02-11T13:20:00Z'
                has_more: false
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: invalid_request
                  message: limit must be a positive integer
                  retryable: false
                  trace_id: trace_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Profile not found for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
[...]
